<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Natural sur</title>
	<link rel="shortcut icon" href="../imagenes/LOGO-NEGRO.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav>
		<a href="../index.html">
			<img src="../imagenes/LOGO-NEGRO.PNG" width="200" height="200" alt="logo de natural sur">
		</a>
		<ul>	
			<li><a href="productos.html">Productos</a></li>
			<li><a href="ofertas.html">Ofertas</a></li>
			<li><a href="quienes somos.html">Quienes somos</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
		    <p class="nav__buscador">
    			<div type="search" name="Busqueda de navegacion" placeholder="">
    			<div type="submit" value="Buscar">
  			</p>
	</nav>
	<header class="altura-header">
		<h1>Contacto</h1>
	</header>
	<main>
		<!-- inicia formulario -->
		<section>
			<form action="formulario.php">
				<fieldset>
						<legend>¡Consultas!</legend>
						<label for="name">Nombre</label>
						<input type="text" id="name" placeholder="Nahuel Buffa">
						<br>
						<label for="email">Email</label>
						<input type="email" id="email" placeholder="Nahuel@gmail..">
						<br>
						<label for="telephone">Telefono</label>
						<input type="tel" id="telephone" placeholder="115262...">
				</fieldset>	
				<label for="mensaje">Mensaje</label>
				<br>
				<textarea name="" id="mensaje" cols="30" rows="10"></textarea>
				<br>
				<input type="reset" value="Cancelar">
				<input type="submit" value="Enviar">
			</form>
		</section>
		<!-- finaliza formulario -->
	</main>
	<footer class="footer__img--color">
		<a href="https://www.instagram.com/" target="blank">
			<img class="footer__png--float" src="../imagenes/ig.png" width="50" height="50" alt="logo de instagram">	
		</a>
			<a href="https://wa.me/1152627395/" target="blank">
				<img class="footer__png--float" src="../imagenes/wp.png" width="50" height="50" alt="imagen de whatsapp">
			</a>

	</footer>
</body>
</html> 